body {
    margin: 0;
    background: #ccc;
    text-align: center;
}

h3 {
    position: relative;
    z-index: 999;
}

.circle {
    width: 300px;
    height: 300px;
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 300px;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.jsec1 {
    width: 4px;
    height: 50%;
    background: #f00;
    position: absolute;
    left: 50%;
    top: 5%;
    margin-left: -2px;
}

.jmin1 {
    width: 10px;
    height: 45%;
    background: #0f0;
    position: absolute;
    left: 50%;
    top: 10%;
    margin-left: -5px;
}

.jhour1 {
    width: 10px;
    height: 30%;
    background: #00f;
    position: absolute;
    left: 50%;
    top: 25%;
    margin-left: -5px;
}

.zsec1 {
    width: 300px;
    height: 300px;
    animation: j_s 60s infinite linear;
    /* animation: j_s 1s infinite linear; */
    position: absolute;
}

.zmin1 {
    width: 300px;
    height: 300px;
    animation: j_m 3600s infinite linear;
    /* animation: j_m 60s infinite linear; */
    position: absolute;
}

.zhour1 {
    width: 300px;
    height: 300px;
    animation: j_h 43200s infinite linear;
    /* animation: j_h 720s infinite linear; */
    position: absolute;
}
.jsec2 {
    width: 16px;
    height: 300px;
    position: absolute;
    background: url("../img/imgs.png");
    left: 50%;
    margin-left: -8px;
    animation: j_s 60s infinite linear;
}
.jmin2 {
    width: 16px;
    height: 300px;
    position: absolute;
    background: url("../img/imgm.png");
    left: 50%;
    margin-left: -8px;
    animation: j_s 3600s infinite linear;
}
.jhour2 {
    width: 16px;
    height: 300px;
    position: absolute;
    background: url("../img/imgh.png");
    left: 50%;
    margin-left: -8px;
    animation: j_s 43200s infinite linear;
}
.osec3 {
    width: 16px;
    height: 300px;
    position: absolute;
}
